.stream-table {
  @include fill-parent;
}

.stream-row {
  @include condensed;
  @include outer-container;

  display: block;
  overflow: auto;
  padding-bottom: 10px;
}

.full-center {
  margin-top: 25px;
  padding: 30px;
  width: 100%;
}

.full-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

footer {
  background: #fafafa;
  color: $table-text-color;
  font-size: 12px;
  padding: 10px 15px;
  width: 100%;

  &::after {
    clear: both;
  }

  .company-slogan {
    float: left;
  }
}
