.stream-table {
  @include fill-parent;
  // color: $table-text-color;
}

.stream-row {
  @include condensed;
  @include outer-container;

  display: block;
  overflow: auto;
  padding-bottom: 10px;
}

footer {
  background: #fafafa;
  color: $table-text-color;
  font-size: 12px;
  padding: 10px 15px;
  width: 100%;

  &::after {
    clear: both;
  }

  .company-slogan {
    float: left;
  }

  .settings {
    float: right;
  }
}
