nav {
  background: $twitch-purple;
  color: $primary-text;
  width: 100%;

  a {
    color: $primary-text;
    font-weight: bold;
    text-decoration: none;
  }

  ul {
    display: table;
    table-layout: fixed;
    width: 100%;

    li {
      display: table-cell;
    }
  }

  .menu-link {
    display: block;
    padding: 10px;
    text-align: center;

    &:hover {
      background: darken($twitch-purple, 5%);
      color: $primary-text;
    }

    &.active {
      background: darken($twitch-purple, 20%);
      color: $primary-text;
    }
  }
}
