.stream-row {
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;

  &:first-child {
    margin-top: 10px;
  }

  .top {
    overflow: auto;
    padding: 10px;

    &::after {
      clear: both;
    }
  }

  .profile {
    @include span-columns(2);
    cursor: pointer;

    img {
      height: auto;
      width: 100%;
    }
  }

  .information {
    @include span-columns(10);
  }

  .channel {
    cursor: pointer;
    display: block;
    margin-bottom: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  .game {
    display: block;
    font-size: 13px;
  }

  .detail {
    cursor: pointer;
    margin-top: 5px;
    position: relative;

    &:hover {
      .viewers {
        opacity: 1;
      }
    }

    .overlay {
      background: linear-gradient(to bottom, $stream-overlay-gradient-1 0%, $stream-overlay-gradient-2 40%, $stream-overlay-gradient-2 60%, $stream-overlay-gradient-1 100%);
      display: inline-block;
      height: 180px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .viewers {
      bottom: 10px;
      color: $stream-overlay-viewers;
      display: block;
      font-size: 14px;
      left: 10px;
      opacity: .5;
      position: absolute;
      transition: opacity .2s ease-in;
    }
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    z-index: -1;
  }
}
