.table-header, footer {
  background: darken($twitch-purple, 15%);
  display: block;
  height: 50px;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;

  .refresh,
  .link-out {
    color: $primary-text;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    padding-top: 15px;
    text-align: center;

    span {
      display: block;
      padding-top: 5px;
    }

    i {
      font-size: 1.5em;
    }

    &:hover {
      background: darken($twitch-purple, 10%);
    }
  }

  .link-out {
    float: left;
    width: 33.33%;
  }

  .refresh {
    float: left;
    width: 66.66%;
  }

  .clearfix {
    @include clearfix;
  }

  #back-to-top {
    background: linear-gradient(to bottom, rgba(250, 250, 250, .65) 0%, rgba(0, 0, 0, 0) 100%);
    display: none;
    height: 20px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    width: 100%;
    z-index: 101;

    &:hover {
      opacity: .25;
    }

    &.active {
      cursor: pointer;
      display: block;
    }
  }
}
