.table-header, footer {
  background: darken($twitch-purple, 15%);
  display: block;
  height: 40px;
  text-align: center;
  width: 100%;
  z-index: 100;

  .refresh,
  .link-out {
    color: $primary-text;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    padding-top: 12px;
    text-align: center;

    span {
      display: block;
      padding-top: 5px;
    }

    i {
      font-size: 1.3em;
    }

    &:hover {
      background: darken($twitch-purple, 10%);
    }
  }

  .link-out {
    float: left;
    width: 33.33%;
  }

  .refresh {
    float: left;
    width: 66.66%;
  }

  .clearfix {
    @include clearfix;
  }
}
